.direction div {
    width: 100px;
    height :100px;
    background: blue;
    margin: 2em;
}

.direction > div:last-child {
    background: red;
}

.direction {
    display: flex;
}

/* RESPONSIVE DESIGN */

@media screen and ( max-width: 768px ) {
    
     
    .direction {
    flex-direction: column;
    }
    

}

@media screen and (min-width: 786px) and (max-width: 996px) {
    .direction {
        flex-direction: column-reverse;
    }
    .direction > div:first-child {
        background: yellow;
    }
    
}
    